<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- ionicons, icons from ionic -->
  <link href="lib/Ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- pdf-viewer -->
  <script src="lib/pdfjs-dist/build/pdf.js"></script>
  <script src="lib/angular-pdf-viewer/dist/angular-pdf-viewer.min.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/trilingual_controller.js"></script>
  <script src="js/main_controller.js"></script>
</head>
<body class="platform-browser platform-ios platform-android" ng-app="gsungrab">

<ion-pane ng-controller="MainController as MainCtrl">
  <ion-header-bar class="bar-stable">
    <div>
      <button ng-click="MainCtrl.backBtn()"><i class="icon ion-chevron-left"></i></button>
      <!--<span>{{MainCtrl.currentPage}} / {{MainCtrl.getPageCount()}}</span>-->
      <button ng-click="MainCtrl.forwardBtn()"><i class="icon ion-chevron-right"></i></button>
    </div>

    <div class="align-right">
      <button ng-click="MainCtrl.zoomOutBtn()"><i class="icon ion-minus-round"></i></button>
      <button ng-click="MainCtrl.zoomInBtn()"><i class="icon ion-plus-round"></i></button>
    </div>

  </ion-header-bar>
  <ion-content>
    <div ng-controller="TrilingualController as TrilingualCtrl">

      <ion-scroll zooming="true" direction="xy" class="has-header">
        <pdf-viewer
          delegate-handle="my-pdf-container"
          url="TrilingualCtrl.pdfUrl"
          scale="1"
          show-toolbar="false"></pdf-viewer>
      </ion-scroll>

    </div>
  </ion-content>
</ion-pane>
</body>
</html>
